# -------------------------------------
# Terraform 관련 파일 무시
# -------------------------------------
*.tfstate
*.tfstate.backup
.terraform/
crash.log
tfplan
*.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfstate
terraform.tfstate.backup

# 환경별 상태파일도 무시 (예: env/eseoulx/terraform.tfstate)
env/*/terraform.tfstate
env/*/terraform.tfstate.backup
env/*/.terraform/

# -------------------------------------
# 민감 정보 또는 환경 변수 파일 무시
# -------------------------------------
.env
.env.*
.secret
*.key
*.pem

# -------------------------------------
# 운영체제/IDE 관련 무시 파일
# -------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*.swp

# VS Code
.vscode/

# JetBrains IDE (IntelliJ, PyCharm 등)
.idea/

# 기타
*.log
*.bak
